<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta content="{{author}}" name="author">

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="/css/pure-min.css">
    <link type="text/css" rel="stylesheet" href="/css/grids-responsive-min.css">
    <link type="text/css" rel="stylesheet" href="/css/codestyle.css">
    <link type="text/css" rel="stylesheet" href="/css/style.css">

    <!-- Feeds -->
    <link rel="home" type="application/rss+xml" href="/feed.xml" title="RSS Feed">

    <!-- JavaScript -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-58563127-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>

  <body>
    <div id="layout" class="pure-g">
      
      <div id="menu" class="pure-u-1">
        <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal">
          <a href="/" class="pure-menu-heading">{{header}}</a>
          
          <ul>
            <li><a href="/feed.xml">RSS</a></li>
          </ul>
        </div>
      </div>

      <div class="pure-u-1 pure-u-md-3-4">
        <div class="content">
          {{content}}
        </div>
      </div>
      
      <div class="pure-u-1 pure-u-md-1-4">
        <div class="sidebar">
          <ul>
            <li><a href="https://github.com/OrangeShark">Github</a></li>
            <li><a href="https://www.linkedin.com/pub/erik-edrosa/89/287/417">Linkedin</a></li>
          </ul>
        </div>
      </div>

      <div class="pure-u-1">
        <div class="footer">
          <p>Site generated by 
            <a href="https://github.com/OrangeShark/webstache">webstache</a>
          </p>
          <p><emp>&copy; Erik Edrosa 2014 All Rights Reserved</emp></p>
        </div>
      </div>
    </div>
  </body>
</html>
